@use "../../../../styles.scss" as *;
@use '@angular/material-experimental' as matx;

.layout {
  display: grid;
  height: 100%;
  background-image: url("../../../../assets/a220.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content 1fr max-content 0.5fr;
  grid-template-areas:
    ". ."
    "main-area main-area"
    ". ."
    "action_1-area action_2-area"
    ". .";

  @media (max-width: $narrow-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 0.25fr max-content 0.25fr max-content 1fr;
    grid-template-areas:
      "."
      "main-area"
      "."
      "action_1-area"
      "."
      "action_2-area"
      ".";
  }
}

.headline {
  grid-area: main-area;
  text-align: center;
  @include var-text(12);
  font-weight: 200;
  font-stretch: 125%;
}

.air-title {
  font-weight: 400;
}

.timetable-link,
.booking-link {
  @include text-0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.45);
}

.timetable-link {
  grid-area: action_1-area;
}

.booking-link {
  grid-area: action_2-area;
}
