@use "../../../styles.scss" as *;

.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content 0.5fr max-content 1fr;
  grid-template-areas:
    ". ."
    "main-area main-area"
    ". ."
    "action_1-area action_2-area"
    ". .";

  @media (max-width: $narrow-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 0.25fr max-content 0.25fr max-content 1fr;
    grid-template-areas:
      "."
      "main-area"
      "."
      "action_1-area"
      "."
      "action_2-area"
      ".";
  }
  @media (min-width: $wide-breakpoint) {
    grid-template-columns: 1fr $half-wide $half-wide 1fr;
    grid-template-rows: 1fr max-content 0.5fr max-content 1fr;
    grid-template-areas:
      ". . . ."
      ". main-area main-area ."
      ". . . ."
      ". action_1-area action_2-area ."
      ". . . .";
  }
}

.headline {
  grid-area: main-area;
  text-align: center;
  @include var-text(12);
  font-weight: 200;
  font-stretch: 125%;

}

.timetable-link,
.booking-link {
  @include text-0;
  text-align: center;
}

.timetable-link {
  grid-area: action_1-area;
}

.booking-link {
  grid-area: action_2-area;
}
