@use "../../../../styles.scss" as *;

$small-wide: calc($wide-breakpoint * 0.18);
$big-wide: calc($wide-breakpoint * 0.28);

.timetable-list {
  display: grid;
  grid-template-columns: 0 0.18fr 0.18fr 0.18fr 0.28fr 0.18fr 0;

  @media (min-width: $wide-breakpoint) {
    grid-template-columns: 0.5fr $small-wide $small-wide $small-wide $big-wide $small-wide 0.5fr;
  }
}

.page-header {
  grid-column: span 5;
  color: $bright-primary-color;
  font-size: 4vw;
  line-height: 7vw;

  @media (max-width: $narrow-breakpoint) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @media (min-width: $wide-breakpoint) {
    font-size: 4rem;
    line-height: 7rem;
  }
}

.header {
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 2vw;

  @media (max-width: $narrow-breakpoint) {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  @media (min-width: $wide-breakpoint) {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

a.destination {
  grid-column: span 5;
  color: $opposite-text-color;
  background-color: $primary-color;
  padding: 0.2rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.destination:hover {
  color: $accent-color;
}

.table-content {
  font-size: 1rem;
  @media (max-width: $narrow-breakpoint) {
    font-size: 0.8rem;
  }
}
