@use "../../../../styles.scss" as *;
@use "@angular/material" as mat;

.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 0.5fr 20rem 30rem 0.5fr;
  grid-template-rows: 0.5fr max-content max-content max-content 0.5fr;
  grid-template-areas:
    ". . . ."
    ". . origin-summary-area ."
    ". . destination-summary-area ."
    ". date-question-area date-picker-area ."
    ". . . .";

  @media (max-width: $narrow-breakpoint) {
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr max-content max-content max-content max-content 0.5fr;
    grid-template-areas:
      "."
      "origin-summary-area"
      "destination-summary-area"
      "date-question-area"
      "date-picker-area"
      ".";
  }
}

.origin-summary {
  grid-area: origin-summary-area;
}

.destination-summary {
  grid-area: destination-summary-area;
}

.origin-summary,
.destination-summary {
  @include text-1;
  margin-bottom: 1.5rem;
  color: mat.get-theme-color($theme, primary);
  @media (max-width: $narrow-breakpoint) {
    margin-bottom: 1rem;
  }
}

.date-question {
  grid-area: date-question-area;
  @include text-1;
}

.date-picker {
  grid-area: date-picker-area;
  border: 1px solid rgba(mat.get-theme-color($theme, tertiary), 0.5);
  background-color: rgba(mat.get-theme-color($theme, on-primary), 0.15);
}
