@use "../styles.scss" as *;
@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

:host {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}

.router-outlet {
  overflow-y: auto;
}

.toolbarGrid {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  width: 100%;

  @media (max-width: $narrow-breakpoint) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $wide-breakpoint) {
    width: $wide-breakpoint;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  font-weight: 200;
  font-stretch: 125%;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.title-air {
  font-weight: 400;
}

.userDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include fixed-text-3;
  margin-top: 0.5rem;
  @media (max-width: $narrow-breakpoint) {
    display: none;
  }
  mat-icon {
    flex: 0 0 auto;
    margin-right: 0.5rem;
  }
  .logged-in-name {
    flex: 0 0 auto;
  }
}
