@use "../styles.scss" as *;

:host {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}

.router-outlet {
  overflow-y: auto;
}

.title {
  font-weight: 200;
  font-stretch: 125%;
  font-size: 2rem;
}

.title-air {
  font-weight: 400;
}
