@use "@angular/material" as mat;
@use "sass:map";
@include mat.core();

$theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$cyan-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

@include mat.all-component-themes($theme);
$color-config: mat.get-color-config($theme);

$primary-palette: map.get($color-config, "primary");
$accent-palette: map.get($color-config, "accent");
$warn-palette: map.get($color-config, "warn");

$bright-primary-color: mat.get-color-from-palette($primary-palette, A400);
$primary-color: mat.get-color-from-palette($primary-palette, 700);
$dull-primary-color: mat.get-color-from-palette($primary-palette, 100);

$bright-accent-color: mat.get-color-from-palette($accent-palette, A400);
$accent-color: mat.get-color-from-palette($accent-palette, A700);
$dull-accent-color: mat.get-color-from-palette($accent-palette, 100);

$opposite-text-color: white;

$narrow-breakpoint: 50rem;
$wide-breakpoint: 100rem;
$middle-breakpoint: 75rem;

$half-wide: calc($wide-breakpoint / 2);
$third-wide: calc($wide-breakpoint / 3);
$quarter-wide: calc($wide-breakpoint / 4);

@font-face {
  font-family: "Mona Sans";
  src: url("assets/Mona-Sans.woff2") format("woff2 supports variations"),
    url("assets/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 600 900;
  font-stretch: 75% 125%;
}

$my-typography: mat.define-typography-config(
  $font-family: "Mona Sans",
);

@include mat.all-component-typographies($my-typography);

// Most text has a minimum size for small screens and a maximum size for large screens. It is variable in between.
@mixin var-text($base-size) {
  font-size: $base-size * 1vw;
  line-height: $base-size * 1.1vw;
  @media (max-width: $narrow-breakpoint) {
    font-size: $base-size * 0.5rem;
    line-height: $base-size * 0.6rem;
  }
  @media (min-width: $wide-breakpoint) {
    font-size: $base-size * 1rem;
    line-height: $base-size * 1.1rem;
  }
}

@mixin text-0 {
  @include var-text(5.0);
}

@mixin text-1 {
  @include var-text(2.5);
}

@mixin text-2 {
  @include var-text(2.0);
}

@mixin text-3 {
  @include var-text(1.5);
}

@mixin text-4 {
  @include var-text(1.2);
}

@mixin fixed-text-2 {
  font-size: 2rem;
}

@mixin fixed-text-3 {
  font-size: 1.3rem;
}

@mixin fixed-text-4 {
  font-size: 1rem;
}

@mixin table-header-2 {
  @include fixed-text-4;
  color: $opposite-text-color;
  background-color: $primary-color;
  padding: 0.2rem;
  margin-top: 1rem;
  font-weight: 600;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited {
  color: $accent-color;
  text-decoration: none;
}

a:hover {
  color: $bright-accent-color;
  text-decoration: underline;
}

mat-label {
  color: $accent-color;
}
