@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@use "sass:map";
@include mat.core();


@font-face {
  font-family: "Mona Sans";
  src:
    url("assets/Mona-Sans.woff2") format("woff2 supports variations"),
    url("assets/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 600 900;
  font-stretch: 75% 125%;
}

$theme: matx.define-theme(
  (
    color: (
      theme-type: light,
      primary: matx.$m3-green-palette,
      tertiary: matx.$m3-blue-palette,
    ),
    typography: (
      brand-family: "Mona Sans",
      plain-family: "Mona Sans",
      bold-weight: 900,
      regular-weight: 400,
    ),
    density: (
      scale: 0,
    ),
  )
);

$narrow-breakpoint: 50rem;
$wide-breakpoint: 100rem;
$middle-breakpoint: 75rem;

$half-wide: calc($wide-breakpoint / 2);
$third-wide: calc($wide-breakpoint / 3);
$quarter-wide: calc($wide-breakpoint / 4);

// Most text has a minimum size for small screens and a maximum size for large screens. It is variable in between.
@mixin var-text($base-size) {
  font-size: $base-size * 1vw;
  line-height: $base-size * 1.1vw;
  @media (max-width: $narrow-breakpoint) {
    font-size: $base-size * 0.5rem;
    line-height: $base-size * 0.6rem;
  }
  @media (min-width: $wide-breakpoint) {
    font-size: $base-size * 1rem;
    line-height: $base-size * 1.1rem;
  }
}

@mixin text-0 {
  @include var-text(5);
}

@mixin text-1 {
  @include var-text(2.5);
}

@mixin text-2 {
  @include var-text(2);
}

@mixin text-3 {
  @include var-text(1.5);
}

@mixin text-4 {
  @include var-text(1.2);
}

@mixin fixed-text-2 {
  font-size: 2rem;
}

@mixin fixed-text-3 {
  font-size: 1.3rem;
}

@mixin fixed-text-4 {
  font-size: 1rem;
}

@mixin table-header-2 {
  @include fixed-text-4;
  color: mat.get-theme-color($theme, on-primary);
  background-color: mat.get-theme-color($theme, primary);
  padding: 0.2rem;
  margin-top: 1rem;
  font-weight: 600;
}

html {
  @include mat.all-component-themes($theme);
  @include mat.all-component-typographies($theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font: mat.get-theme-typography($theme, body-medium, font);
}

a,
a:visited {
  color: mat.get-theme-color($theme, tertiary, 40);
  text-decoration: none;
}

a:hover {
  color: mat.get-theme-color($theme, tertiary, 70);
  text-decoration: underline;
}

mat-label {
  color: mat.get-theme-color($theme, tertiary);
}

.primary-button {
  @include mat.button-color($theme, $color-variant: primary);
}

.secondary-button {
  @include mat.button-color($theme, $color-variant: secondary);
}

.tertiary-button {
  @include mat.button-color($theme, $color-variant: tertiary);
}

.primary-toolbar {
  color: mat.get-theme-color($theme, on-primary-container);
  background-color:  mat.get-theme-color($theme, primary-container);
}

.tertiary-calendar {
  color: mat.get-theme-color($theme, primary);
}

.tertiary-spinner {
  @include mat.progress-spinner-color($theme, $color-variant: tertiary);
}
