@use "../../../../styles.scss" as *;
@use "@angular/material" as mat;

.layout {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "flight-details-area passenger-area"
    "summary-area passenger-area";

  @media (max-width: $narrow-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "flight-details-area"
      "passenger-area"
      "summary-area";
  }
  @media (min-width: $wide-breakpoint) {
    width: $wide-breakpoint;
    margin-left: auto;
    margin-right: auto;
  }
}

.flight-details-block {
  grid-area: flight-details-area;
}

.flight-item {
  border: 0.15rem solid mat.get-theme-color($theme, primary);
  margin: 0.5vw;
  display: grid;
  grid-template-columns: max-content 0.5fr 0.5fr;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas:
    "flight-header-area flight-header-area flight-header-area"
    "departs-icon-area departs-text-area departs-text-area"
    "arrives-icon-area arrives-text-area arrives-text-area"
    ". fully-flexible-area discount-area";

  @media (max-width: $narrow-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "flight-header-area"
      "departs-text-area"
      "arrives-text-area"
      "fully-flexible-area"
      "discount-area";
  }
}

.flight-details-header {
  @include table-header-2;
  grid-area: flight-header-area;
  margin-top: 0;
}

.departs-text {
  @include fixed-text-4;
  grid-area: departs-text-area;
  margin-top: 0.5rem;
  @media (max-width: $narrow-breakpoint) {
    margin-left: 0.5rem;
  }
}

.arrives-text {
  @include fixed-text-4;
  grid-area: arrives-text-area;
  margin-top: 0.5rem;
  @media (max-width: $narrow-breakpoint) {
    margin-left: 0.5rem;
  }
}

.departs-icon {
  grid-area: departs-icon-area;
  margin: 0.5rem;
  @media (max-width: $narrow-breakpoint) {
    display: none;
  }
}

.arrives-icon {
  grid-area: arrives-icon-area;
  margin: 0.5rem;
  @media (max-width: $narrow-breakpoint) {
    display: none;
  }
}

.fully-flexible, .discount {
  border-style: solid;
  border-width: 0.2rem;
  padding: 0.1rem;
  text-align: center;
}

.fully-flexible {
  grid-area: fully-flexible-area;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  @media (max-width: $narrow-breakpoint) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    margin: 0.5rem 0.5rem  0 0.5rem;
  }
}

.discount {
  grid-area: discount-area;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  @media (max-width: $narrow-breakpoint) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
  }
}

.booked-out {
  background-color: lightgray;
  border-color: gray;
  color: gray;
}

.available {
  border-color: mat.get-theme-color($theme, tertiary);
  color: mat.get-theme-color($theme, tertiary);
  cursor: pointer;
}

.available:hover {
  background-color: rgba(mat.get-theme-color($theme, tertiary-fixed-dim), 0.2);
  border-width: 0.3rem;
  padding: 0;
  color: black;
}

.selected {
  border-color: mat.get-theme-color($theme, tertiary);
  background-color: rgba(mat.get-theme-color($theme, tertiary-fixed-dim), 0.3);
  font-weight: 600;
}

.default {
  border-color: mat.get-theme-color($theme, primary);
  background-color: rgba(mat.get-theme-color($theme, secondary), 0.15);
  font-weight: 600;
}

.fare-type {
  @include fixed-text-4;
  margin: 0.5rem;
}

.price {
  @include fixed-text-3;
  margin: 0.5rem;
}

.available-seats {
  @include fixed-text-4;
  margin: 0.5rem;
}

.passenger-form-block {
  grid-area: passenger-area;
  margin: 0.5rem;
}

.passenger-header {
  @include fixed-text-4;
  margin: 0.5rem;
}

.passenger {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.2fr max-content;
  grid-template-rows: max-content;
  grid-template-areas:
    "first-name-area lastName-area ticket-type-area delete-button-area";
  @media (max-width: $narrow-breakpoint) {
    grid-template-columns: 0.8fr 0.2fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
      "first-name-area first-name-area"
      "lastName-area lastName-area"
      "ticket-type-area delete-button-area";
  }
  border: 0.15rem solid mat.get-theme-color($theme, primary);
  margin: 0.5vw;
}

.first-name {
  grid-area: first-name-area;
  margin: 0.25vw;
}

.lastName {
  grid-area: lastName-area;
  margin: 0.25vw;
}

.ticket-type {
  grid-area: ticket-type-area;
  margin: 0.25vw;
}

.delete-button {
  grid-area: delete-button-area;
  margin: 0.25vw;
}

.add-passenger {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  .add-passenger-button {
    flex: 0 0 auto;
    margin: 0.5vw;
    color: mat.get-theme-color($theme, on-primary);
  }
}

.summary-block {
  grid-area: summary-area;
  margin: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.total-top {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.total-label {
  flex: 0 0 auto;
  @include fixed-text-3;
}

.total-value {
  flex: 0 0 auto;
  @include fixed-text-2;
  font-weight: 600;
  text-align: right;
  line-height: 4rem;
  border-top: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
}

.child-note {
  @include fixed-text-4;
  flex: 0 0 auto;
}

.payment-button {
  @include fixed-text-3;
  font-weight: 600;
  flex: 0 0 auto;
  color: mat.get-theme-color($theme, on-primary);
  margin-top: 2rem;
}
