@use '../../../../styles.scss' as *;
@use "@angular/material" as mat;
@use '@angular/material-experimental' as matx;

.day-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: max-content;
}

.show-day {
  color: mat.get-theme-color($theme, primary);
  font-weight: 900;
}

.dont-show-day {
  color: mat.get-theme-color($theme, secondary);
}

.narrow {
  display: none;
  font-size: 0.8rem;
  @media (max-width: $narrow-breakpoint) {
    display: block;
  }
}

.otherwise {
  display: block;
  @media (max-width: $narrow-breakpoint) {
    display: none;
  }
}
