@use "../../../../styles.scss" as *;

.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 0.5fr max-content 0.5fr;
  grid-template-rows: 0.5fr max-content max-content 0.5fr;
  grid-template-areas:
    ". . ."
    ". oneway-area ."
    ". return-area ."
    ". . .";

  @media (max-width: $narrow-breakpoint) {
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr max-content max-content 0.5fr;
    grid-template-areas:
      "."
      "oneway-area"
      "return-area"
      ".";
  }
}

.oneway-option, .return-option {
  @include text-2;
}

.oneway-option {
  grid-area: oneway-area;
}

.return-option {
  grid-area: return-area;
}
