@use "../../../../styles.scss" as *;
@use "@angular/material" as mat;

.layout {
  display: grid;
  grid-template-rows: 0.3fr max-content max-content 2vw max-content max-content 1vw max-content 0.7fr;
  grid-template-columns: 1fr max-content 3rem 1fr;
  grid-template-areas:
    ". . . ."
    ". title-area edit-fab-area ."
    ". details-area details-area ."
    ". . . ."
    ". booking-title-area . ."
    ". bookings-area bookings-area ."
    ". . . ."
    ". . bookings-fab-area ."
    ". . . .";
  height: 100%;
  @media (max-width: $narrow-breakpoint) {
    margin: 0.3rem;
    grid-template-rows: 0.3fr max-content max-content 1rem max-content max-content 0.5vw max-content 0.7fr;
    grid-template-columns: max-content 3rem;
    grid-template-areas:
      ". ."
      "title-area edit-fab-area"
      "details-area details-area"
      ". ."
      "booking-title-area ."
      "bookings-area bookings-area"
      ". ."
      ". bookings-fab-area"
      ". .";
  }
  @media (min-width: $wide-breakpoint) {
    width: $wide-breakpoint;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  grid-area: title-area;
  @include header-0;
}

.edit-button {
  grid-area: edit-fab-area;
}

.user-details {
  grid-area: details-area;
  display: grid;
  @include text-2;
  grid-template-columns: max-content 1fr;
  gap: 0.2vw 1vw;
  white-space: pre-wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media (max-width: $narrow-breakpoint) {
    gap: 0.1rem 0.5rem;
  }
  @media (min-width: $wide-breakpoint) {
    gap: 0.2rem 1rem;
  }
}

.label {
  @include label-2;
}

.booking-title {
  grid-area: booking-title-area;
  color: mat.get-theme-color($theme, primary);
  @include text-1;
}

.bookings {
  grid-area: bookings-area;
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr;
  @media (max-width: $narrow-breakpoint) {
    gap: 0.5rem;
  }
  @media (min-width: $wide-breakpoint) {
    gap: 1rem;
  }
}

.bookings-fab {
  grid-area: bookings-fab-area;
  button {
  margin-left: auto;
  }
}

.flight-details-block {
  border: 0.15rem solid mat.get-theme-color($theme, primary);
  border-radius: 1vw;
  padding: 0.5vw;
  gap: 1vw;
  @media (max-width: $narrow-breakpoint) {
    border-radius: 0.5rem;
    padding: 0.25rem;
    gap: 0.5rem;
    }
  @media (min-width: $wide-breakpoint) {
    border-radius: 1rem;
    padding: 0.5rem;
    gap: 1rem;
    }
}

.flight-item {
  grid-template-columns: 1fr;
  grid-template-areas:
    "flight-header-area"
    "departs-text-area"
    "arrives-text-area";
}

.flight-details-header {
  @include text-2;
  color: mat.get-theme-color($theme, primary);
  grid-area: flight-header-area;
}

.departs-text {
  @include text-3;
  grid-area: departs-text-area;
}

.arrives-text {
  @include text-3;
  grid-area: arrives-text-area;
}
