@use "../../../../styles.scss" as *;

$small-wide: calc($wide-breakpoint * 0.18);
$big-wide: calc($wide-breakpoint * 0.28);

.timetable-list {
  display: grid;
  grid-template-columns: 0 0.18fr 0.18fr 0.18fr 0.28fr 0.18fr 0;

  @media (min-width: $wide-breakpoint) {
    grid-template-columns: 0.5fr $small-wide $small-wide $small-wide $big-wide $small-wide 0.5fr;
  }
}

.page-header {
  grid-column: span 5;
  color: $bright-primary-color;
  @include text-0;
}

.header {
  font-weight: 600;
  @include text-3;
}

a.destination {
  @include table-header-2;
  grid-column: span 5;
}

.destination:hover {
  color: $accent-color;
}

.table-content {
  @include fixed-text-4;
}
